@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* optimize font rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  /* set base font size to 16px */
  font-size: 100%; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.75;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased; }

img, video, object {
  max-width: 100%; }

article, header, nav, section {
  display: block; }

em {
  font-style: italic; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.site-content {
  background: #fcfcfc;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  min-height: calc(100vh - 530px);
  /* stick footer to bottom */ }

/* Typography
================================ */
.nugget {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
  letter-spacing: 1.4px; }

.thumb-nugget {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 1px; }

.copyright {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3); }

.pill {
  border: 0px solid rgba(58, 176, 255, 0.2);
  background-color: rgba(58, 176, 255, 0.1);
  border-radius: 100px;
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #3ab0ff;
  letter-spacing: .3px;
  line-height: 12px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: -3px;
  margin-left: 2px;
  vertical-align: middle; }

hr {
  border: 1px solid #eee;
  width: 100%;
  margin: 50px 0 100px 0; }

h1 {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.75);
  line-height: 32px;
  margin-top: 40px;
  padding-top: 5px; }

h1 i {
  color: rgba(0, 0, 0, 0.25);
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold; }

h2 {
  font-family: Karla, Helvetica, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 44px;
  font-weight: normal; }

h3 {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.7px; }

h4 {
  font-family: Karla, Helvetica, sans-serif;
  line-height: 1.3; }

i {
  font-weight: normal; }

s {
  color: rgba(0, 0, 0, 0.35); }

p {
  margin-bottom: 35px;
  margin-top: 20px;
  font-family: Karla, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #4f4f4f;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

hr + .row > .column:last-child > p:first-child {
  margin-top: 30px; }

.footer {
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.2px;
  font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-font-smoothing: antialiased; }

ol {
  counter-reset: numerals; }

ol li::before {
  counter-increment: numerals;
  content: counter(numerals);
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0px;
  line-height: 42px;
  padding-right: 22px;
  vertical-align: bottom; }

.list {
  margin-bottom: 35px;
  margin-top: 17px;
  letter-spacing: 0px;
  font-family: Karla, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }

.line {
  width: 5%;
  border-bottom: 3px solid #EAEAEA;
  margin-bottom: 60px;
  margin-top: 50px;
  margin-left: 47.5%;
  margin-right: 47.5%; }

blockquote {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #3ab0ff;
  border-left: 3px solid thistle;
  padding-left: 25px;
  margin-bottom: 30px; }

a {
  color: #3ab0ff;
  text-decoration: none;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }

a:hover {
  color: thistle;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }

a svg:hover {
  fill: thistle; }

a svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  fill: darkgray;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }

.smallcaps {
  font-variant: small-caps; }

.text-caption {
  font-family: Karla, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #9b9b9b; }

.text-italic {
  font-style: italic; }

.subhead {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 28px;
  display: block; }

.subhead i {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  margin-bottom: -10px; }

/* Header
/* ======================================== */
.site-header {
  box-sizing: content-box;
  position: relative;
  z-index: 1; }

.site-nav {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: table;
  width: 100%; }

.site-intro,
.site-menu,
.site-menu:after {
  background: #FFB886;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #28BBEB, #FF637E, #FFE226, #1CD5AF, #28BBEB);
  /* For Safari 5.1 to 6.0 */
  background: linear-gradient(to right, #28BBEB, #FF637E, #FFE226, #1CD5AF, #28BBEB);
  /* Standard syntax (must be last) */
  background-size: 400% 100%;
  background-position: 33.3% 0;
  -webkit-transition: background-position .5s ease;
  transition: background-position .5s ease; }

.category-blog .site-intro,
.category-blog .site-menu,
.category-blog .site-menu:after {
  background-position: 0% 0; }

.category-contact .site-intro,
.category-contact .site-menu,
.category-contact .site-menu:after {
  background-position: 66.6% 0; }

.category-shop .site-intro,
.category-shop .site-menu,
.category-shop .site-menu:after {
  background-position: 100% 0; }

.site-intro {
  position: relative;
  z-index: 2;
  display: table;
  width: 100%; }

.site-intro-text {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  color: white;
  text-align: center;
  padding: 90px 10px 75px 10px;
  margin: auto;
  box-sizing: border-box; }

@media (max-width: 640px) {
  .site-intro-text {
    font-size: 25px;
    line-height: 36px;
    padding: 50px 10px 40px 10px;
    width: 320px; } }
.site-intro-link {
  color: #FFF; }

.site-menu {
  padding-top: 10px;
  position: relative;
  cursor: default;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center; }

.site-menu-fixed {
  position: fixed; }

.site-menu::before,
.site-menu::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.site-menu::before {
  height: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  /* work around bug in Chrome 56+ */ }

.site-menu::after {
  bottom: 0px;
  height: 30px; }

.site-menu-item {
  display: inline-block;
  margin: 0 2em;
  font-family: Karla, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: bold; }

@media (max-width: 480px) {
  .site-menu-item {
    margin: 0 1.5em; } }
@media (max-width: 420px) {
  .site-menu-item {
    margin: 0 1.25em; } }
@media (max-width: 360px) {
  .site-menu-item {
    margin: 0 1em; } }
.site-menu-item a {
  display: inline-block;
  color: #FFFFFF;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  -webkit-transition: color .5s ease;
  transition: color .5s ease; }

.site-menu-item a:hover {
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease; }

.category-blog .category-blog.site-menu-item a,
.category-work .category-work.site-menu-item a,
.category-contact .category-contact.site-menu-item a,
.category-shop .category-shop.site-menu-item a {
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15); }

.site-menu-underline {
  display: none; }

.site-menu.site-menu-animated .site-menu-item a {
  border-bottom-color: transparent; }

.site-menu.site-menu-animated .site-menu-underline {
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.site-menu.site-menu-animated .site-menu-underline.positioning {
  -webkit-transition: none;
  transition: none; }

/* Post
================================ */
.image {
  position: relative; }

.image img {
  transition: all 0.5s ease-in-out; }

.image:hover img {
  -webkit-filter: brightness(20%);
  filter: brightness(20%);
  opacity: 1; }

.image p {
  font-size: 0;
  line-height: 0; }

.image-with-border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1; }

.blog {
  margin-top: 40px; }

.blog-post {
  margin: 10px 0 5px 0; }

.post-list-thumb img {
  float: left;
  width: 75px;
  height: 75px;
  margin: 1px 30px 1px 80px; }

.post-item {
  
  display: inline-block;
  width: 100%;
  
  margin-top: 2.4%; }

.post-item:nth-child(odd) {
  margin-right: 1%; }

.post-item:nth-child(even) {
  margin-left: 1%; }

/*
.post-item img {
  display: block;
  border-radius: 3px 3px 0 0;
  width: 100%;
  transition: all 0.5s ease-out;
  margin: 0;
  margin-top: -2em;
}
*/


.post-item-img {
  position: relative; }

.post-item-img img {
  display: block;
  width: 100%;
  margin: 0;
  transition: all 0.5s ease-out; }

.post-item-label {
  display: block;
  width: 100%;
  transition: all 0.5s ease-out;
  padding: 4% 0;
  background: #fcfcfc;
  border-top: none; }

.logo {
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 20px;
  /*^ to see wut it luk like*/ }

.post-item-icon img {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  top: -40px;
  margin-bottom: -30px; }

.post-item:hover {
  box-shadow: -10px 10px 25px 0 rgba(0, 0, 0, 0.15); }

.post-item:hover .post-item-img img {
  -webkit-filter: brightness(20%);
  filter: brightness(20%); }

.overlay-title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 43%;
  z-index: 100;
  font-size: 1em;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-out; }

.image:hover .overlay-title,
.post-item:hover .overlay-title {
  opacity: 1; }

@media only screen and (max-width: 600px) {
  .post-item {
    width: 100%;
    float: none;
    margin-left: 0 !important;
    margin-right: 0 !important; }

  .overlay-title {
    font-size: 1.2em; } }
/*.post-hero {
  height: 400px;
}
*/
.post-header {
  margin-top: -4rem;
  margin-bottom: 3rem; }

.post-metadata {
  font-family: Karla, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #9b9b9b;
  margin-top: 20px; }

.pullquote {
  font-size: 0.875rem;
  font-style: italic;
  color: #9b9b9b; }

@media only screen and (max-width: 480px) {
  .post-item {
    width: 100%; } }
table#blue {
  width: 100%;
  height: 100%;
  background-color: #9ACCE2;
  border: 0px; }

td {
  padding: 20px; }

/* Layout
================================ */
.page {
  position: relative;
  overflow: hidden; }

.page.page-exit-left,
.page.page-exit-right,
.page.page-fade {
  position: absolute;
  width: 100%; }

.page.page-exit-left {
  -webkit-animation: exit-left .5s ease-out both;
  animation: exit-left .5s ease-out both; }

@-webkit-keyframes exit-left {
  100% {
    -webkit-transform: translateX(-100%); } }
@keyframes exit-left {
  100% {
    transform: translateX(-100%); } }
.page.page-exit-left + .page {
  -webkit-animation: enter-from-right .5s ease-out backwards;
  animation: enter-from-right .5s ease-out backwards; }

@-webkit-keyframes enter-from-right {
  0% {
    -webkit-transform: translateX(100%); } }
@keyframes enter-from-right {
  0% {
    transform: translateX(100%);
    perspective: 1px;
    /* disable subpixel antialiasing glitch */ } }
.page.page-exit-right {
  -webkit-animation: exit-right .5s ease-out forwards;
  animation: exit-right .5s ease-out forwards; }

@-webkit-keyframes exit-right {
  100% {
    -webkit-transform: translateX(100%); } }
@keyframes exit-right {
  100% {
    transform: translateX(100%); } }
.page.page-exit-right + .page {
  -webkit-animation: enter-from-left .5s ease-out backwards;
  animation: enter-from-left .5s ease-out backwards; }

@-webkit-keyframes enter-from-left {
  0% {
    -webkit-transform: translateX(-100%); } }
@keyframes enter-from-left {
  0% {
    transform: translateX(-100%);
    perspective: 1px;
    /* disable subpixel antialiasing glitch */ } }
.page.page-fade {
  -webkit-animation: fade-out .5s ease both;
  animation: fade-out .5s ease both; }

@-webkit-keyframes fade-out {
  50% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px); } }
@keyframes fade-out {
  50% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: translateY(-100px); } }
.loading .page {
  opacity: 0; }

.loaded .page {
  -webkit-animation: loading .8s ease backwards;
  animation: loading .8s ease backwards; }

@-webkit-keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px); } }
@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(25px);
    perspective: 1px;
    /* disable subpixel antialiasing glitch */ } }
.page.page-fade + .page {
  -webkit-animation: fade-in .5s ease backwards;
  animation: fade-in .5s ease backwards; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); } }
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
    perspective: 1px;
    /* disable subpixel antialiasing glitch */ } }
.wrap {
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.primary-header {
  display: inline-block;
  /*float: none;
    width: 90%;
    margin: 0 auto;*/ }

@media only screen and (max-width: 1085px) {
  body {
    font-size: 16px; }

  .wrap {
    margin: 15px auto; } }
/* Header */
.site-title {
  float: left; }

.page-menu {
  float: right; }

.page-menu li {
  display: inline-block;
  margin: 0.5em 1em;
  padding: 0.5em 0;
  list-style: none; }

/* Footer */
.site-footer {
  background-color: #f6f6f6;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased; }

.site-footer-left,
.site-footer-right {
  float: left;
  padding: 40px 10px 40px 0px;
  width: 340px;
  max-width: 100%;
  vertical-align: top; }

@media (min-width: 850px) {
  .site-footer-right {
    float: right; } }
@media (min-width: 550px) {
  .site-footer-contact {
    float: left; }

  .site-footer-about {
    float: right; } }
/* Content */
.content-title {
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0 0 0.5em; }

.post-preview {
  border-top: 1px dotted #d4d7d9;
  margin: 1em 0 0;
  padding: 1em 0 0; }

.subpage-menu a {
  display: inline-block;
  margin-right: 15px; }

.row {
  display: block; }

/* Video */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */ }

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

/* Animation
/* ======================================== */
/* Effect 1: opacity */
.post-item.animate {
  -webkit-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards; }

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  100% {
    opacity: 1; } }
/* Grid
/* ======================================== */
.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .two-fifths.column {
    width: 41.4%; }

  .three-fifths.column {
    width: 54.6%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: '';
  display: table;
  clear: both; }